## Import Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from bs4 import BeautifulSoup as bs
import requests

## Creat function to scrap data from url and store in lists

In [127]:
ratingValues = []
headings = []
authors = []
countries = []
timelines = []
verifications = []
contentss = []
aircraft = []
type_of_travellers = []
seat_type = []
route = []
date_flown = []
seat_comfort = []
cabin_staff_service	= []
ground_service = []
value_for_money = []
recommended = []
food_and_beverages = []
inflight_entertainment = []
wifi_connectivity = []



def fetch_article(page_no):
    url = f"https://www.airlinequality.com/airline-reviews/british-airways/page/{page_no}/"
    response = requests.get(url)
    html_content = response.content

    soup = bs(html_content, 'lxml')
    articles = soup.find_all(itemprop = 'review')

    ## feathing all reviews on current page
    for article in articles:
        try:
            ratingValue =  int(article.find(itemprop = 'ratingValue').text) ## rating value    
            ratingValues.append(ratingValue)
        except:
            ratingValues.append(None)

        try:
            heading = str(article.find('h2', class_ = 'text_header').text)   ## heading
            headings.append(heading)
        except:
            headings.append(None)

        h3 = article.find('h3').text
        values = h3.split('(')
        
        try:
            author = values[0]   ## author
            authors.append(author)
        except:
            authors.append(None)

        try:
            country = values[1].split(')')[0] ## country
            countries.append(country)
        except:
            countries.append(None)
            
        try:
            timeline = values[1].split(')')[1]
            timelines.append(timeline)
        except:
            timelines.append(None)
        

        try:
            verification = article.find(class_ = 'text_content').find('em').text
            verifications.append(verification)
        except:
            verifications.append(None)

        try:
            contents = article.find(class_ = 'text_content').text
            content = contents.split('|')[1]
            contentss.append(content)
        except:
            contentss.append(None)
        
        table = article.find('table', class_ = 'review-ratings')
    
    
        try:
            val = table.find('td', class_ = 'review-rating-header aircraft').find_next_sibling().text
            aircraft.append(val)
        except:
            aircraft.append(None)

        try:
            val = table.find('td', class_ = 'review-rating-header type_of_traveller').find_next_sibling().text
            type_of_travellers.append(val)
        except:
            type_of_travellers.append(None)

        try:
            val = table.find('td', class_ = 'review-rating-header cabin_flown').find_next_sibling().text
            seat_type.append(val)
        except:
            seat_type.append(None)
        
        try:
            val = table.find('td', class_ = 'review-rating-header route').find_next_sibling().text
            route.append(val)
        except:
            route.append(None)
        
        try:  
            val = table.find('td', class_ = 'review-rating-header date_flown').find_next_sibling().text
            date_flown.append(val)
        except:
            date_flown.append(None)


        try:
            val = table.find('td', class_ = 'review-rating-header recommended').find_next_sibling().text
            recommended.append(val)
        except:
            recommended.append(None)

        
        try:    
            val = table.find('td', class_ = 'review-rating-header seat_comfort').find_next_sibling().find(class_ = 'fill').text
            seat_comfort.append(int(val))
        except:
            seat_comfort.append(None)
        
        try:
            val = table.find('td', class_ = 'review-rating-header cabin_staff_service').find_next_sibling().find(class_ = 'fill').text
            cabin_staff_service.append(int(val))
        except:
            cabin_staff_service.append(None)
        
        try:
            val = table.find('td', class_ = 'review-rating-header ground_service').find_next_sibling().find(class_ = 'fill').text
            ground_service.append(int(val))
        except:
            ground_service.append(None)
        
        try:
            val = table.find('td', class_ = 'review-rating-header value_for_money').find_next_sibling().find(class_ = 'fill').text
            value_for_money.append(int(val))
        except:
            value_for_money.append(None)
        

        try:
            val = table.find('td', class_ = 'review-rating-header inflight_entertainment').find_next_sibling().find(class_ = 'fill').text
            inflight_entertainment.append(int(val))
        except:
            inflight_entertainment.append(None)


        try:
            val = table.find('td', class_ = 'review-rating-header wifi_and_connectivity').find_next_sibling().find(class_ = 'fill').text
            wifi_connectivity.append(int(val))
        except:
            wifi_connectivity.append(None)


        try:
            val = table.find('td', class_ = 'review-rating-header food_and_beverages').find_next_sibling().find(class_ = 'fill').text
            food_and_beverages.append(int(val))
        except:
            food_and_beverages.append(None)

## Calling function to fetch data all pages using loop

In [128]:
%%time
for i in range(1,382): 
    fetch_article(i)

CPU times: total: 2min 44s
Wall time: 19min 12s

## Creating dataframe to store all lists in dataframe

In [129]:
df = pd.DataFrame()

In [130]:
df['Heading'] = headings
df['RatingValue'] = ratingValues
df['Author'] = authors
df['Country'] = countries
df['Timeline'] = timelines
df['Verification'] = verifications
df['Content'] = contentss
df['Aircraft'] = aircraft
df['Type_of_traveller'] = type_of_travellers
df['SeatType'] = seat_type
df['Route'] = route
df['DateFlown'] = date_flown
df['SeatComfort'] = seat_comfort
df['CabinStaffService'] = cabin_staff_service
df['GroundService'] = ground_service
df['ValueForMoney'] = value_for_money
df['Recommend'] = recommended
df['FoodBeverages'] = food_and_beverages
df['InflightEntertainment'] = inflight_entertainment
df['WifiConnectivity'] = wifi_connectivity

## Saving dataframe as CSV file

In [139]:
df.to_csv('British_Airways.csv', header=True, index=False)

In [140]:
## read data 
data = pd.read_csv('British_Airways.csv')

In [141]:
data

,Heading,RatingValue,Author,Country,Timeline,Verification,Content,Aircraft,Type_of_traveller,SeatType,Route,DateFlown,SeatComfort,CabinStaffService,GroundService,ValueForMoney,Recommend,FoodBeverages,InflightEntertainment,WifiConnectivity
0,"“never fly British Airways""",1.0,\n\nD Baker,United States,6th June 2024,Trip Verified,I strongly advise everyone to never fly Briti...,Boeing 747,Business,Business Class,Heathrow to San Francisco,June 2024,1.0,1.0,1.0,1,no,NaN,NaN,NaN
1,“we will rethink BA moving forward”,5.0,\n\nVal Rose,United Kingdom,3rd June 2024,Trip Verified,My partner and I were on the BA2166 return fl...,NaN,Couple Leisure,Business Class,Tampa to Gatwick,May 2024,1.0,1.0,1.0,1,no,1.0,1.0,NaN
2,“extremely poor customer service”,1.0,\n\nJason George,United States,1st June 2024,Not Verified,We had a Premium Economy return flight Los A...,NaN,Family Leisure,Premium Economy,Los Angeles to London,January 2024,1.0,1.0,1.0,1,no,1.0,1.0,1.0
3,“a pleasant and civilized journey”,9.0,\n\nS Barton,United Kingdom,1st June 2024,Trip Verified,I should like to review my flight with Briti...,A320,Solo Leisure,Economy Class,Hannover to London Heathrow,May 2024,1.0,1.0,1.0,1,yes,1.0,NaN,NaN
4,"""the worst BA flight we've experienced""",2.0,\n\nMarvin Daugherty,United States,31st May 2024,Trip Verified,We have flown with British Airways a few time...,NaN,Family Leisure,Economy Class,Austin to London Heathrow,May 2024,1.0,1.0,1.0,1,no,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3802,British Airways customer review,1.0,\n\nJ Robertson,United Kingdom,29th August 2012,NaN,NaN,NaN,NaN,Economy Class,NaN,NaN,1.0,1.0,NaN,1,no,1.0,NaN,NaN
3803,British Airways customer review,9.0,\n\nNick Berry,United Kingdom,28th August 2012,NaN,NaN,NaN,NaN,Business Class,NaN,NaN,1.0,1.0,NaN,1,yes,1.0,NaN,NaN
3804,British Airways customer review,5.0,\n\nAvril Barclay,United Kingdom,12th October 2011,NaN,NaN,NaN,NaN,Economy Class,NaN,NaN,NaN,NaN,NaN,1,yes,NaN,NaN,NaN
3805,British Airways customer review,4.0,\n\nC Volz,United States,11th October 2011,NaN,NaN,NaN,NaN,Premium Economy,NaN,NaN,1.0,1.0,NaN,1,no,1.0,NaN,NaN
3806,British Airways customer review,4.0,\n\nRuss King,United Kingdom,9th October 2011,NaN,NaN,NaN,NaN,First Class,NaN,NaN,1.0,1.0,NaN,1,no,1.0,1.0,NaN